language: python
cache: pip
python:
  - "2.7"
addons:
  apt:
    packages:
    - libxml2-dev
    - libxml2-utils
    - libxslt1-dev
    - zip
    - sqlite3
    - libcurl4-openssl-dev
    - libssl-dev
before_install:
  - git config --global user.email 'galeksandrp@gmail.com'
  - git config --global user.name 'Alexander Georgievskiy'
  - echo -e "machine github.com\nlogin galeksandrp\npassword $GITHUB_TOKEN" >> ~/.netrc
install:
  - wget https://github.com/galeksandrp/https-everywhere/archive/check-sublist3r.tar.gz -O - | tar xz
  - mv https-everywhere-check-sublist3r ~/workspace
  - pip install requests
  - pip install dnspython
  - pip install argparse
  - wget https://github.com/aboul3la/Sublist3r/archive/master.tar.gz -O - | tar xz
  - mv Sublist3r-master ~/workspace/Sublist3r
  - git remote add upstream https://github.com/EFForg/https-everywhere.git
  - git fetch --depth=1 upstream master
  - git checkout -b master upstream/master
  - pip install --no-allow-insecure --no-allow-external -r requirements.txt
  - pip install -r test/rules/requirements.txt
  - pip install -r test/chromium/requirements.txt
  - wget https://github.com/github/hub/releases/download/v2.2.8/hub-linux-amd64-2.2.8.tgz -O - | tar xz --strip=1 -C ~ hub-linux-amd64-2.2.8
  - export PATH=~/bin:$PATH
  - chmod +x ~/workspace/Sublist3r/sublist3r.py ~/workspace/*.sh
script:
  - cd src/chrome/content/rules
  - ~/workspace/generate.sh $DOMAIN
before_deploy:
- git add $TRAVIS_BUILD_DIR/src/chrome/content/rules/$DOMAIN.xml
- git commit -m $DOMAIN
- git checkout --orphan $DOMAIN-pr
- cd $TRAVIS_BUILD_DIR
- git rm --cached -r . > /dev/null
- git clean -fd
- git cherry-pick $DOMAIN
deploy:
  provider: script
  script: git push origin $DOMAIN-pr
  on:
    all_branches: true
env:
- DOMAIN=${TRAVIS_BRANCH::${#TRAVIS_BRANCH}-5}
notifications:
  email: false
